{"swagger":"2.0","info":{"version":"v2","title":"Netevia HQ | API Documentation","description":"Netevia HQ | API Documentation"},"host":"hq.netevia.com","schemes":["https"],"paths":{"/api/v2/agent/profile":{"get":{"tags":["Data Collections and Variables"],"summary":"Get agent details","operationId":"BoardingV2_GetAgentProfileById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"agentId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"payoutNumber","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultArray1_AgentProfile"}}}}},"/api/v2/merchant/submit":{"post":{"tags":["Submit Merchant Application"],"operationId":"BoardingV2_SubmitTSYS","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/SubmitMerchantRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult1_SubmitMerchantResponse"},"examples":{"data":{"merchantProfileId":123},"requestId":456,"success":true}}}}},"/api/v2/merchant/create":{"post":{"tags":["Submit Merchant Application"],"operationId":"BoardingV2_CreateMerchant","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/CreateMerchantRequest"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult1_SubmitMerchantResponse"},"examples":{"data":{"merchantProfileId":123},"requestId":456,"success":true}}}}},"/api/v2/merchant/info":{"get":{"tags":["Merchant applications/Merchants data management"],"operationId":"BoardingV2_GetMerchantInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult1_TsysMerchantV2View"}}}},"post":{"tags":["Merchant applications/Merchants data management"],"operationId":"BoardingV2_UpdateMerchantInfo","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateTsysMerchantV2"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult"}}}}},"/api/v2/merchant/fees":{"get":{"tags":["Merchant applications/Merchants data management"],"operationId":"BoardingV2_GetFees","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult1_TsysFeesGetModel"}}}},"post":{"tags":["Merchant applications/Merchants data management"],"operationId":"BoardingV2_UpdateFees","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"request","in":"body","required":true,"schema":{"$ref":"#/definitions/UpdateTsysFees"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResult1_UpdateTsysFees"}}}}}},"definitions":{"ApiResultArray1_AgentProfile":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/definitions/AgentProfile"}},"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}},"AgentProfile":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"name":{"type":"string"},"payoutNumber":{"type":"string"},"agentId":{"format":"int32","type":"integer"},"agentName":{"type":"string"},"agentOfficeId":{"format":"int32","type":"integer"},"agentOfficeName":{"type":"string"},"agentUserName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"}}},"ValidationError":{"type":"object","properties":{"field":{"type":"string"},"error":{"type":"string"}}},"SubmitMerchantRequest":{"required":["merchantProfile","businessAndOwnerInformation","salesAndBusinessProfile","siteInspection","serviceAcceptance","equipment"],"type":"object","properties":{"merchantProfile":{"$ref":"#/definitions/TsysMerchantV2Edit"},"businessAndOwnerInformation":{"$ref":"#/definitions/TsysParameters"},"salesAndBusinessProfile":{"$ref":"#/definitions/TsysMerchantAccount"},"siteInspection":{"$ref":"#/definitions/TsysSiteInspection"},"serviceAcceptance":{"$ref":"#/definitions/TsysProductSetup"},"fees":{"$ref":"#/definitions/TsysFeesV2"},"equipment":{"$ref":"#/definitions/TsysEquipment"},"merchantProfileId":{"format":"int32","type":"integer"}}},"TsysMerchantV2Edit":{"required":["feesProgram","agentProfileId","pos"],"type":"object","properties":{"feesProgram":{"enum":["Traditional","CashDiscount","Surcharge","ServiceFee","DualPricing"],"type":"string"},"agentProfileId":{"format":"int32","type":"integer"},"pos":{"enum":["None","Retail","Restaurant","Clover","Aldelo","Restoactive","PoyntPOS","CloverGo","UnifiedMpos","CustomPos","RetailCloud","EHopper","FreedomPos","ClubPos","SelfLane","OtfPOS","NProKiosk","GretaPOS"],"type":"string"},"boardingSettingsId":{"format":"int32","type":"integer"},"mid":{"type":"string"},"externalClientID":{"type":"string"},"externalChainID":{"type":"string"}}},"TsysParameters":{"required":["customerServicePhoneNum","federalTaxId","dateOfStartBusiness","legalAddress","dbaAddress","primaryOwner"],"type":"object","properties":{"customerServicePhoneNum":{"maxLength":10,"minLength":10,"type":"string"},"federalTaxId":{"pattern":"^(\\d|\\*){9}$","type":"string"},"dateOfStartBusiness":{"format":"date-time","type":"string"},"merchantEmail":{"type":"string"},"merchantWebsite":{"pattern":"^((https?):\\/\\/)?(([wW]{3}\\.)?([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,100})((\\/([\\w-]+\\/?)*)?)$","type":"string"},"multipleLocations":{"type":"boolean"},"numOfLocations":{"format":"int32","type":"integer"},"legalAddress":{"$ref":"#/definitions/AddressBase"},"dbaAddress":{"$ref":"#/definitions/AddressBase"},"primaryOwner":{"$ref":"#/definitions/Owner"},"secondaryOwner":{"$ref":"#/definitions/SecondaryOwner"},"owner3":{"$ref":"#/definitions/SecondaryOwner"},"owner4":{"$ref":"#/definitions/SecondaryOwner"},"controllingOfficer1":{"$ref":"#/definitions/ControllingOfficer"},"controllingOfficer2":{"$ref":"#/definitions/ControllingOfficer"}}},"TsysMerchantAccount":{"required":["sic","typeOfOwnership","businessType","accountNumber","businessCheckingRoutingNumber","achMethod","averageTicket","monthlyVolume","retail","imprint","moto","internet"],"type":"object","properties":{"sic":{"type":"string"},"sellingRegulatedSubstances":{"type":"boolean"},"massageServices":{"type":"boolean"},"sellingGasFuel":{"type":"boolean"},"typeOfOwnership":{"enum":["Corporation","SoleProprietorship","Partnership","AssociationEstateTrust","TaxExempt501C","International","LimitedLiabilityLlc","GovernmentAgency"],"type":"string"},"businessType":{"enum":["Other","Internet","Lodging","MailOrder","Restaurant","Retail","QSR","Supermarket","Petroleum","Utilities","Healthcare","Education","Government","Charity_NonProfit","B2B","Service"],"type":"string"},"accountType":{"enum":["C","S","G"],"type":"string"},"accountNumber":{"maxLength":17,"minLength":0,"pattern":"^\\d*$","type":"string"},"businessCheckingRoutingNumber":{"pattern":"^\\d{9}$","type":"string"},"achMethod":{"enum":["Combine","Individual"],"type":"string"},"averageTicket":{"format":"int64","minimum":1,"type":"integer"},"highTicket":{"format":"int32","maximum":999999,"minimum":1,"type":"integer"},"salesToConsumers":{"format":"double","maximum":100,"minimum":0,"type":"number"},"salesToBusiness":{"format":"double","maximum":100,"minimum":0,"type":"number"},"salesToGovernment":{"format":"double","maximum":100,"minimum":0,"type":"number"},"bankName":{"type":"string"},"goodsAndServices":{"type":"string"},"returnPolicy":{"type":"string"},"nextDayFunding":{"type":"boolean"},"sameDayFunding":{"type":"boolean"},"isVsMcDsNetwork":{"type":"boolean"},"monthlyVolume":{"format":"int64","minimum":1,"type":"integer"},"annualVolume":{"format":"int64","minimum":1,"type":"integer","readOnly":true},"retail":{"format":"int32","maximum":100,"minimum":0,"type":"integer"},"imprint":{"format":"int32","maximum":100,"minimum":0,"type":"integer"},"moto":{"format":"int32","maximum":100,"minimum":0,"type":"integer"},"internet":{"format":"int32","maximum":100,"minimum":0,"type":"integer"},"cardNotPresentInformation":{"$ref":"#/definitions/TsysCnpInformation"}}},"TsysSiteInspection":{"type":"object","properties":{"inventoryMaintainedType":{"enum":["OnSite","WarehouseOffSite","FulfillmentCenter"],"type":"string"},"fulfillmentCenterNameAndAddress":{"type":"string"},"question1":{"type":"boolean"},"question1Explanation":{"type":"string"},"question2":{"type":"boolean"},"question2Explanation":{"type":"string"},"question3":{"type":"boolean"},"question3Explanation":{"type":"string"},"question4":{"type":"boolean"},"question4Explanation":{"type":"string"},"zoning":{"enum":["Comml","Industrial","Residential"],"type":"string"},"squareFootageType":{"enum":["From_0_To_500","From_501_To_1000","From_1001_To_2000","From_2001_To_4000","Other"],"type":"string"},"squareFootageTypeOther":{"format":"int32","type":"integer"},"merchant":{"enum":["Owns","Leases"],"type":"string"},"nameAddressLandlord":{"type":"string"}}},"TsysProductSetup":{"type":"object","properties":{"amexESA":{"type":"boolean"},"amexOptBlue":{"type":"boolean"},"discover":{"type":"boolean"},"payPal":{"type":"boolean"},"jcb":{"type":"boolean"},"ebt":{"type":"boolean"},"debitCard":{"type":"boolean"},"amexNumber":{"pattern":"^\\d{10}$","type":"string"},"fcsNumber":{"pattern":"^\\d{7}$","type":"string"}}},"TsysFeesV2":{"type":"object","properties":{"cashDiscountRate":{"format":"double","type":"number"},"minimumDiscountAmount":{"format":"double","maximum":500,"minimum":0,"pattern":"^\\d+(.\\d{0,4})?$","type":"number"},"minimumDiscountStartDate":{"format":"date-time","type":"string"},"minimumDiscountType":{"enum":["Daily","Monthly"],"type":"string"},"earlyTerminationFeeAmount":{"format":"double","maximum":999999,"minimum":0,"type":"number"},"earlyTerminationFeeContractMonths":{"format":"int32","maximum":60,"minimum":0,"type":"integer"},"amex":{"$ref":"#/definitions/AmexFees"},"visaMasterCardDiscover":{"$ref":"#/definitions/VisaMasterCardDiscoverFees"},"authorizationMonthlyAndSpecialProgram":{"$ref":"#/definitions/AuthorizationMonthlyAndSpecialProgramFees"},"pos":{"$ref":"#/definitions/POSFees"},"standard":{"$ref":"#/definitions/StandardFees"},"cardBrand":{"$ref":"#/definitions/CardBrandFees"},"debitPinAndEBT":{"$ref":"#/definitions/DebitPinAndEBTFees"},"gatewayProducts":{"$ref":"#/definitions/GatewayProductsFees"},"miscFees":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}},"miscFeesVolume":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}}}},"TsysEquipment":{"required":["terminals"],"type":"object","properties":{"terminals":{"type":"array","items":{"$ref":"#/definitions/TsysTerminal"}}}},"AddressBase":{"required":["name","address","postalCode","city","state","phone"],"type":"object","properties":{"name":{"type":"string"},"address":{"type":"string"},"postalCode":{"type":"string"},"city":{"type":"string"},"state":{"enum":["Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","DistrictOfColumbia","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Indiana","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Missouri","Mississippi","Montana","NorthCarolina","NorthDakota","Nebraska","NewHampshire","NewJersey","NewMexico","Nevada","NewYork","Ohio","Oklahoma","Oregon","Pennsylvania","PuertoRico","RhodeIsland","SouthCarolina","SouthDakota","Tennessee","Texas","Utah","Virginia","VirginIslands","Vermont","Washington","Wisconsin","WestVirginia","Wyoming"],"type":"string"},"phone":{"pattern":"^\\d{10}$","type":"string"},"fax":{"pattern":"^\\d{10}$","type":"string"}}},"Owner":{"required":["firstName","lastName","dateOfBirth","ssn","address","city","state","zip","homePhone","title","ownership","email"],"type":"object","properties":{"firstName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"lastName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"dateOfBirth":{"format":"date-time","type":"string"},"ssn":{"pattern":"^(?!000000000|111111111|222222222|333333333|444444444|55555555|666666666|777777777|888888888|999999999|123456789|987654321|012345678|087654321)\\d{9}$","type":"string"},"address":{"maxLength":40,"minLength":0,"pattern":"^[A-Za-z\\d\\s]+$","type":"string"},"city":{"maxLength":25,"minLength":2,"type":"string"},"state":{"enum":["Indiana","Missouri","Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","DistrictOfColumbia","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Mississippi","Montana","NorthCarolina","NorthDakota","Nebraska","NewHampshire","NewJersey","NewMexico","Nevada","NewYork","Ohio","Oklahoma","Oregon","Pennsylvania","PuertoRico","RhodeIsland","SouthCarolina","SouthDakota","Tennessee","Texas","Utah","Virginia","VirginIslands","Vermont","Washington","Wisconsin","WestVirginia","Wyoming"],"type":"string"},"zip":{"pattern":"^\\d{5}(-\\d{4})?$","type":"string"},"homePhone":{"pattern":"^\\d{10}$","type":"string"},"title":{"enum":["President","VPresident","Owner","Partner","Manager","Treasurer","Secretary","ExecDirector"],"type":"string"},"ownership":{"format":"int32","maximum":100,"minimum":25,"type":"integer"},"email":{"maxLength":60,"minLength":0,"type":"string"},"guarantor":{"type":"boolean"},"typeOfIssuedID":{"enum":["USPassport","PermanentRegistrationCard","DriversLicense","USMilitaryCard","USCostGuardMerchantMarinerCard","USCitizenIdCard"],"type":"string"},"idNumber":{"type":"string"},"idExpirationDate":{"format":"date-time","type":"string"}}},"SecondaryOwner":{"required":["firstName","lastName","dateOfBirth","ssn","address","city","state","zip","homePhone","title","ownership","email"],"type":"object","properties":{"firstName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"lastName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"dateOfBirth":{"format":"date-time","type":"string"},"ssn":{"pattern":"^(?!000000000|111111111|222222222|333333333|444444444|55555555|666666666|777777777|888888888|999999999|123456789|987654321|012345678|087654321)\\d{9}$","type":"string"},"address":{"maxLength":40,"minLength":0,"pattern":"^[A-Za-z\\d\\s]+$","type":"string"},"city":{"maxLength":25,"minLength":2,"type":"string"},"state":{"enum":["Indiana","Missouri","Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","DistrictOfColumbia","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Mississippi","Montana","NorthCarolina","NorthDakota","Nebraska","NewHampshire","NewJersey","NewMexico","Nevada","NewYork","Ohio","Oklahoma","Oregon","Pennsylvania","PuertoRico","RhodeIsland","SouthCarolina","SouthDakota","Tennessee","Texas","Utah","Virginia","VirginIslands","Vermont","Washington","Wisconsin","WestVirginia","Wyoming"],"type":"string"},"zip":{"pattern":"^\\d{5}(-\\d{4})?$","type":"string"},"homePhone":{"pattern":"^\\d{10}$","type":"string"},"title":{"enum":["President","VPresident","Owner","Partner","Manager","Treasurer","Secretary","ExecDirector"],"type":"string"},"ownership":{"format":"int32","maximum":100,"minimum":25,"type":"integer"},"email":{"maxLength":60,"minLength":0,"type":"string"},"guarantor":{"type":"boolean"},"typeOfIssuedID":{"enum":["USPassport","PermanentRegistrationCard","DriversLicense","USMilitaryCard","USCostGuardMerchantMarinerCard","USCitizenIdCard"],"type":"string"},"idNumber":{"type":"string"},"idExpirationDate":{"format":"date-time","type":"string"}}},"ControllingOfficer":{"required":["dateOfBirth","ssn","firstName","lastName","title","address","zip","city","state","homePhone"],"type":"object","properties":{"dateOfBirth":{"format":"date-time","type":"string"},"ssn":{"pattern":"^(?!000000000|111111111|222222222|333333333|444444444|55555555|666666666|777777777|888888888|999999999|123456789|987654321|012345678|087654321)\\d{9}$","type":"string"},"firstName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"lastName":{"maxLength":25,"minLength":2,"pattern":"^\\s*[A-Za-z]+\\s*$","type":"string"},"title":{"enum":["President","VPresident","Owner","Partner","Manager","Treasurer","Secretary","ExecDirector"],"type":"string"},"address":{"maxLength":40,"minLength":0,"pattern":"^[A-Za-z\\d\\s]+$","type":"string"},"zip":{"pattern":"^\\d{5}(-\\d{4})?$","type":"string"},"city":{"maxLength":25,"minLength":2,"type":"string"},"state":{"enum":["Indiana","Missouri","Alaska","Alabama","Arkansas","Arizona","California","Colorado","Connecticut","DistrictOfColumbia","Delaware","Florida","Georgia","Hawaii","Iowa","Idaho","Illinois","Kansas","Kentucky","Louisiana","Massachusetts","Maryland","Maine","Michigan","Minnesota","Mississippi","Montana","NorthCarolina","NorthDakota","Nebraska","NewHampshire","NewJersey","NewMexico","Nevada","NewYork","Ohio","Oklahoma","Oregon","Pennsylvania","PuertoRico","RhodeIsland","SouthCarolina","SouthDakota","Tennessee","Texas","Utah","Virginia","VirginIslands","Vermont","Washington","Wisconsin","WestVirginia","Wyoming"],"type":"string"},"homePhone":{"pattern":"^\\d{10}$","type":"string"},"typeOfIssuedID":{"enum":["USPassport","PermanentRegistrationCard","DriversLicense","USMilitaryCard","USCostGuardMerchantMarinerCard","USCitizenIdCard"],"type":"string"},"idNumber":{"maxLength":20,"minLength":0,"type":"string"},"idExpirationDate":{"format":"date-time","type":"string"},"guarantor":{"type":"boolean"}}},"TsysCnpInformation":{"type":"object","properties":{"isWebHosting":{"type":"boolean"},"isDomainRegistration":{"type":"boolean"},"isWebPageDesign":{"type":"boolean"},"isAuction":{"type":"boolean"},"isInternetServiceGateway":{"type":"boolean"},"isSellingDigitalService":{"type":"boolean"},"isAdvertisement":{"type":"boolean"},"isSellingHardGoods":{"type":"boolean"},"isOther":{"type":"boolean"},"otherInternetBusinessType":{"type":"string"},"advertiseOrPromotion":{"type":"string"},"secureTransactionInformation":{"type":"string"},"vendors":{"type":"string"},"productFulfillment":{"type":"string"},"saleDescription":{"type":"string"},"monthly":{"format":"int32","type":"integer"},"yearly":{"format":"int32","type":"integer"},"quarterly":{"format":"int32","type":"integer"},"oneTime":{"format":"int32","type":"integer"},"hourly":{"format":"int32","type":"integer"},"isMonthly":{"type":"boolean"},"isYearly":{"type":"boolean"},"isQuarterly":{"type":"boolean"},"isOneTime":{"type":"boolean"},"isHourly":{"type":"boolean"}}},"AmexFees":{"type":"object","properties":{"interchangePlus":{"$ref":"#/definitions/AmexInterchangePlus"},"tieredDiscounts":{"$ref":"#/definitions/AmexTieredDiscounts"},"noSurcharge":{"$ref":"#/definitions/AmexNoSurcharge"},"amexInterchangePlusPlus":{"$ref":"#/definitions/AmexInterchangePlusPlus"}}},"VisaMasterCardDiscoverFees":{"type":"object","properties":{"billBackIntrDifferential":{"$ref":"#/definitions/BillBackIntrDifferential"},"interchangePlus":{"$ref":"#/definitions/InterchangePlus"},"noSurcharge":{"$ref":"#/definitions/NoSurcharge"},"tieredDiscountsMOTOEcomm":{"$ref":"#/definitions/TieredDiscountsMOTOEcomm"},"tieredDiscountsRetail":{"$ref":"#/definitions/TieredDiscountsRetail"},"customInterchange":{"$ref":"#/definitions/CustomInterchange"},"customInterchangeDurbin":{"$ref":"#/definitions/CustomInterchangeDurbin"},"interchangePlusPlus":{"$ref":"#/definitions/InterchangePlusPlus"}}},"AuthorizationMonthlyAndSpecialProgramFees":{"type":"object","properties":{"vsmcdiscAuth":{"$ref":"#/definitions/TsysFee"},"amexAuth":{"$ref":"#/definitions/TsysFee"},"avs":{"$ref":"#/definitions/TsysFee"},"batch":{"$ref":"#/definitions/TsysFee"},"voiceAuthorization":{"$ref":"#/definitions/TsysFee"},"retrieval":{"$ref":"#/definitions/TsysFee"},"chargeback":{"$ref":"#/definitions/TsysFee"},"chargebackViolation":{"$ref":"#/definitions/TsysFee"},"achReject":{"$ref":"#/definitions/TsysFee"},"merchAnnual":{"$ref":"#/definitions/TsysFee"},"statement":{"$ref":"#/definitions/TsysFee"},"reporting1099K":{"$ref":"#/definitions/TsysFee"},"tinMismatch":{"$ref":"#/definitions/TsysFee"},"pciAnnual":{"$ref":"#/definitions/TsysFee"},"pciNonCompliance":{"$ref":"#/definitions/TsysFee"},"pciMonthly":{"$ref":"#/definitions/TsysFee"},"pciQuarterly":{"$ref":"#/definitions/TsysFee"},"visaRapidDisputeResolution":{"$ref":"#/definitions/TsysFee"},"neteviaPreChargeback":{"$ref":"#/definitions/TsysFee"},"neteviaChargeback":{"$ref":"#/definitions/TsysFee"}}},"POSFees":{"type":"object","properties":{"fullPackage":{"$ref":"#/definitions/TsysPOSFee"},"fullPackageOnePrinter":{"$ref":"#/definitions/TsysPOSFee"},"tableSidePOSPackage":{"$ref":"#/definitions/TsysPOSFee"},"protectionPackage":{"$ref":"#/definitions/TsysPOSFee"},"posLicence":{"$ref":"#/definitions/TsysPOSFee"},"tableSidePOSLicence":{"$ref":"#/definitions/TsysPOSFee"},"mposLicence":{"$ref":"#/definitions/TsysPOSFee"},"menuLicence":{"$ref":"#/definitions/TsysPOSFee"},"kioskLicence":{"$ref":"#/definitions/TsysPOSFee"},"onlineOrderingLicence":{"$ref":"#/definitions/TsysPOSFee"}}},"StandardFees":{"type":"object","properties":{"dialPay":{"$ref":"#/definitions/TsysFee"},"onlinePortal":{"$ref":"#/definitions/TsysFee"},"motoEcommSurchargePI":{"$ref":"#/definitions/TsysFee"},"nextDayFunding":{"$ref":"#/definitions/TsysFee"},"sameDayFunding":{"$ref":"#/definitions/TsysFee"}}},"CardBrandFees":{"type":"object","properties":{"cardBrand":{"type":"boolean"},"mastercardLicense":{"type":"boolean"}}},"DebitPinAndEBTFees":{"type":"object","properties":{"pinDebitMonthly":{"$ref":"#/definitions/TsysFee"},"pinDebitQualifiedDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"pinDebitAuth":{"$ref":"#/definitions/TsysFeeDiscountType"},"pinDebitAnnual":{"$ref":"#/definitions/TsysFee"},"ebtTrans":{"$ref":"#/definitions/TsysFee"},"pinDebitPassThruIC":{"type":"boolean"}}},"GatewayProductsFees":{"type":"object","properties":{"micros":{"$ref":"#/definitions/TsysFee"},"wirelessAndMobilePOSPI":{"$ref":"#/definitions/TsysFee"},"gatewayAccess":{"$ref":"#/definitions/TsysFee"},"gatewayPerItem":{"$ref":"#/definitions/TsysFee"},"wirelessActivation":{"$ref":"#/definitions/TsysFee"},"wirelessAccess":{"$ref":"#/definitions/TsysFee"},"unifiedmPOSActivation":{"$ref":"#/definitions/TsysFee"},"unifiedmPOSAccess":{"$ref":"#/definitions/TsysFee"},"unifiedmPOSTransactions":{"$ref":"#/definitions/TsysFee"}}},"TsysMiscFee":{"required":["name","frequency","perItem","percent"],"type":"object","properties":{"name":{"type":"string"},"stopDate":{"format":"date-time","type":"string"},"startDate":{"format":"date-time","type":"string"},"frequency":{"enum":["Annual","SemiAnnual","Quarterly","Monthly","OneTime"],"type":"string"},"month":{"format":"int32","type":"integer"},"year":{"format":"int32","type":"integer"},"perItem":{"format":"double","type":"number"},"percent":{"format":"double","type":"number"}}},"TsysTerminal":{"required":["terminalType"],"type":"object","properties":{"terminalType":{"enum":["HYPERCOM_M4230_SPOSDCC","HYPERCOM_T4230_SPOSDCC","INGENICO_ICT220_INGEMV4","INGENICO_ICT220CTL_INGEMV4","INGENICO_ICT250_INGEMV4","INGENICO_IWL220_INGEMV4","INGENICO_IWL250_INGEMV4","INGENICO_IPP320_INGEMV4","VERIFONE_VX520_XEVA440","VERIFONE_VX680_XEVA440","CLSBPLUS_PAX","MULTIPASS","HCSTAGE","DIAL_PAY","NETEVIA_GATEWAY","AUTH_NET_GATEWAY","NMI_Unified_Gateway","USAePay_Gateway","Aldelo_EDC","Cardflight_mPOS","Dejavoo_Z8","Dejavoo_Z9","Dejavoo_Z11","Pax_S80","Pax_S300","Poynt","EHopper","Freedom_POS","Netevia_Light_POS","STGENCR","HCSTGEN","ValorVP100","ValorVP300","DejavooQD2","DejavooQD4","DejavooQD3","DejavooQD5","DejavooP1","DejavooP3","DejavooP5","ValorVL100","ValorVL300","ValorVL110"],"type":"string"}}},"AmexInterchangePlus":{"type":"object","properties":{"qualifiedDiscount":{"$ref":"#/definitions/TsysFee"}}},"AmexTieredDiscounts":{"type":"object","properties":{"qualifiedDiscount":{"$ref":"#/definitions/TsysFee"},"midQual":{"$ref":"#/definitions/TsysFee"},"nonQual":{"$ref":"#/definitions/TsysFee"}}},"AmexNoSurcharge":{"type":"object","properties":{"qualDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"}}},"AmexInterchangePlusPlus":{"type":"object","properties":{"qualifiedDiscount":{"$ref":"#/definitions/TsysFee"},"midQual":{"$ref":"#/definitions/TsysFee"},"nonQual":{"$ref":"#/definitions/TsysFee"}}},"BillBackIntrDifferential":{"type":"object","properties":{"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"vsNonQualICDiff":{"$ref":"#/definitions/TsysFee"},"mcNonQualICDiff":{"$ref":"#/definitions/TsysFee"},"dsNonQualICDiff":{"$ref":"#/definitions/TsysFee"},"axNonQualICDiff":{"$ref":"#/definitions/TsysFee"}}},"InterchangePlus":{"type":"object","properties":{"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"}}},"NoSurcharge":{"type":"object","properties":{"vsQualCrDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFeeDiscountType"}}},"TieredDiscountsMOTOEcomm":{"type":"object","properties":{"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"midMOTO":{"$ref":"#/definitions/TsysFee"},"nonQual":{"$ref":"#/definitions/TsysFee"}}},"TieredDiscountsRetail":{"type":"object","properties":{"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"midQual":{"$ref":"#/definitions/TsysFee"},"nonQual":{"$ref":"#/definitions/TsysFee"}}},"CustomInterchange":{"type":"object","properties":{"vcMcDsInterSurcharge":{"$ref":"#/definitions/TsysFee"},"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"}}},"CustomInterchangeDurbin":{"type":"object","properties":{"interSurcharge":{"$ref":"#/definitions/TsysFee"},"interNonSurcharge":{"$ref":"#/definitions/TsysFee"},"regulatedDbSurcharge":{"$ref":"#/definitions/TsysFee"},"vsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"vsQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"mcQualDbDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualCrDiscount":{"$ref":"#/definitions/TsysFee"},"dsQualDbDiscount":{"$ref":"#/definitions/TsysFee"}}},"InterchangePlusPlus":{"type":"object","properties":{"qualifiedDiscount":{"$ref":"#/definitions/TsysFee"},"midQual":{"$ref":"#/definitions/TsysFee"},"nonQual":{"$ref":"#/definitions/TsysFee"}}},"TsysFee":{"required":["perItem","percent"],"type":"object","properties":{"perItem":{"format":"double","type":"number"},"percent":{"format":"double","type":"number"}}},"TsysPOSFee":{"required":["count","perItem","percent"],"type":"object","properties":{"count":{"format":"int32","type":"integer"},"perItem":{"format":"double","type":"number"},"percent":{"format":"double","type":"number"}}},"TsysFeeDiscountType":{"required":["perItem","percent"],"type":"object","properties":{"discountType":{"enum":["Daily","Monthly"],"type":"string"},"perItem":{"format":"double","type":"number"},"percent":{"format":"double","type":"number"}}},"ApiResult1_SubmitMerchantResponse":{"type":"object","properties":{"data":{"$ref":"#/definitions/SubmitMerchantResponse"},"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}},"SubmitMerchantResponse":{"type":"object","properties":{"merchantProfileId":{"format":"int32","type":"integer"}}},"CreateMerchantRequest":{"required":["feesProgram","firstName","lastName","dba","pos","agentProfileId"],"type":"object","properties":{"feesProgram":{"enum":["Traditional","CashDiscount","Surcharge","ServiceFee","DualPricing"],"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"dba":{"type":"string"},"pos":{"enum":["None","Retail","Restaurant","Clover","Aldelo","Restoactive","PoyntPOS","CloverGo","UnifiedMpos","CustomPos","RetailCloud","EHopper","FreedomPos","ClubPos","SelfLane","OtfPOS","NProKiosk","GretaPOS"],"type":"string"},"agentProfileId":{"format":"int32","type":"integer"},"email":{"type":"string"},"guid":{"type":"string"},"boardingSettingsId":{"format":"int32","type":"integer"}}},"ApiResult1_TsysMerchantV2View":{"type":"object","properties":{"data":{"$ref":"#/definitions/TsysMerchantV2View"},"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}},"TsysMerchantV2View":{"required":["feesProgram","agentProfileId","pos"],"type":"object","properties":{"feesProgram":{"enum":["Traditional","CashDiscountLegacy","CashDiscount","Surcharge","ServiceFee","DualPricing"],"type":"string"},"agentProfileId":{"format":"int32","type":"integer"},"pos":{"enum":["None","Retail","Restaurant","Clover","Aldelo","Restoactive","PoyntPOS","CloverGo","UnifiedMpos","CustomPos","RetailCloud","EHopper","FreedomPos","ClubPos","SelfLane","OtfPOS","NProKiosk","GretaPOS"],"type":"string"},"boardingSettingsId":{"format":"int32","type":"integer"},"mid":{"type":"string"},"externalClientID":{"type":"string"},"externalChainID":{"type":"string"}}},"UpdateTsysMerchantV2":{"required":["id"],"type":"object","properties":{"merchant":{"$ref":"#/definitions/TsysMerchantV2Edit"},"id":{"format":"int32","maximum":999999,"minimum":1,"type":"integer"}}},"ApiResult":{"type":"object","properties":{"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}},"ApiResult1_TsysFeesGetModel":{"type":"object","properties":{"data":{"$ref":"#/definitions/TsysFeesGetModel"},"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}},"TsysFeesGetModel":{"type":"object","properties":{"cashDiscountRate":{"format":"double","type":"number"},"minimumDiscountAmount":{"format":"double","maximum":500,"minimum":0,"pattern":"^\\d+(.\\d{0,4})?$","type":"number"},"minimumDiscountStartDate":{"format":"date-time","type":"string"},"minimumDiscountType":{"enum":["Daily","Monthly"],"type":"string"},"earlyTerminationFeeAmount":{"format":"double","maximum":999999,"minimum":0,"type":"number"},"earlyTerminationFeeContractMonths":{"format":"int32","maximum":60,"minimum":0,"type":"integer"},"amex":{"$ref":"#/definitions/AmexFees"},"visaMasterCardDiscover":{"$ref":"#/definitions/VisaMasterCardDiscoverFees"},"authorizationMonthlyAndSpecialProgram":{"$ref":"#/definitions/AuthorizationMonthlyAndSpecialProgramFees"},"pos":{"$ref":"#/definitions/POSFees"},"standard":{"$ref":"#/definitions/StandardFees"},"cardBrand":{"$ref":"#/definitions/CardBrandFees"},"debitPinAndEBT":{"$ref":"#/definitions/DebitPinAndEBTFees"},"gatewayProducts":{"$ref":"#/definitions/GatewayProductsFees"},"miscFees":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}},"miscFeesVolume":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}}}},"UpdateTsysFees":{"required":["id"],"type":"object","properties":{"fees":{"$ref":"#/definitions/TsysFeesV2FeesProgram"},"id":{"format":"int32","maximum":999999,"minimum":1,"type":"integer"}}},"TsysFeesV2FeesProgram":{"type":"object","properties":{"feesProgram":{"enum":["Traditional","CashDiscount","Surcharge","ServiceFee","DualPricing"],"type":"string"},"cashDiscountRate":{"format":"double","type":"number"},"minimumDiscountAmount":{"format":"double","maximum":500,"minimum":0,"pattern":"^\\d+(.\\d{0,4})?$","type":"number"},"minimumDiscountStartDate":{"format":"date-time","type":"string"},"minimumDiscountType":{"enum":["Daily","Monthly"],"type":"string"},"earlyTerminationFeeAmount":{"format":"double","maximum":999999,"minimum":0,"type":"number"},"earlyTerminationFeeContractMonths":{"format":"int32","maximum":60,"minimum":0,"type":"integer"},"amex":{"$ref":"#/definitions/AmexFees"},"visaMasterCardDiscover":{"$ref":"#/definitions/VisaMasterCardDiscoverFees"},"authorizationMonthlyAndSpecialProgram":{"$ref":"#/definitions/AuthorizationMonthlyAndSpecialProgramFees"},"pos":{"$ref":"#/definitions/POSFees"},"standard":{"$ref":"#/definitions/StandardFees"},"cardBrand":{"$ref":"#/definitions/CardBrandFees"},"debitPinAndEBT":{"$ref":"#/definitions/DebitPinAndEBTFees"},"gatewayProducts":{"$ref":"#/definitions/GatewayProductsFees"},"miscFees":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}},"miscFeesVolume":{"type":"array","items":{"$ref":"#/definitions/TsysMiscFee"}}}},"ApiResult1_UpdateTsysFees":{"type":"object","properties":{"data":{"$ref":"#/definitions/UpdateTsysFees"},"requestId":{"format":"int32","type":"integer"},"success":{"type":"boolean"},"error":{"type":"string"},"validationErrors":{"type":"array","items":{"$ref":"#/definitions/ValidationError"}}}}},"securityDefinitions":{"Basic":{"type":"basic","description":"Basic HTTP Authentication"}},"security":[{"Basic":[]}]}